---
import ThemeProvider from '@/components/ThemeProvider.astro'
import { Toaster } from '@/components/ui/toaster.tsx'
import '@/globals.css'
const { title, description, keywords } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://kurojam.com" />
    <meta name="robots" content="index, follow" />

    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      name="image"
      property="og:image"
      content="https://kurojam/banner.jpg"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://kurojam.com" />
    <meta property="og:site_name" content={title} />
    <meta name="author" content="@ikurotime" />
    <meta name="generator" content={Astro.generator} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://kurojam/banner.jpg" />
    <meta name="twitter:image:alt" content={title} />
    <meta name="twitter:creator" content="@ikurotime" />

    <ThemeProvider />
  </head>
  <body class="bg-[#121212] h-full w-full">
    <slot />
    <style>
      * {
        font-family: 'LeagueSpartan', sans-serif;
      }
      html {
        overflow-y: scroll;
      }
    </style>
    <Toaster client:load />
  </body>
</html>
